.App {
  text-align: center;

}



.editing {
  border-color: #868383 !important;
  border-width: 4px;
  box-shadow: 0 0 4px #868383;
}

html, body, #root {
  background-color: #f5f1f1; /* Новый цвет фона */
}
